<!-- views/directions.ejs -->

<% layout('layout') -%>

<div style="display: none;">
    <span><%=  JSON.stringify(apiresponse)  %></span>
</div>

<% include /directionsinput %>

<hr>

<div class="container">
    
    
    <div class="page-header text-center">
        <h1><span class="fa fa-anchor"></span> Distance: <span class="bold"><%= apiresponse.result.routes[0].legs[0].distance.text %></span></h1>
        <h2><span> CO2-Emissions: <%= apiresponse.result.emissions %> g</span></h2>
    </div>

    <div class="row">
      <div  class="col-xs-12">
        <div id="map"></div>
      </div>
    </div>
    
    <script>
 
          function initMap() {
            var directionsService = new google.maps.DirectionsService;
            var directionsDisplay = new google.maps.DirectionsRenderer;
            var map = new google.maps.Map(document.getElementById('map'), {
                zoom: 3,
                center: {
                    lat: 61.9241,
                    lng: 25.7482
                }
            });
            directionsDisplay.setMap(map);
            
            //console.log();
            //var mapdata = ;
            //console.log("Server:");
            //console.log(mapdata.result);
            //var parsedresponse = JSON.parse('');
            //console.log(parsedresponse);
            //directionsDisplay.setDirections( mapdata.result );
    
            //var onChangeHandler = function() {
            //calculateAndDisplayRoute(directionsService, directionsDisplay);
            //};
            //document.getElementById('start').addEventListener('change', onChangeHandler);
            //document.getElementById('end').addEventListener('change', onChangeHandler);
    
            //try to locate client accurately
            function getLocation() {
                if (navigator.geolocation) {
                    navigator.geolocation.getCurrentPosition(showPosition, showError);
                    //setTimeout(function(){ getLocation(); }, 9000);
                }
                else {
                    console.log("Geolocation is not supported by this browser.");
                }
            }
    
            function showError(error) {
                calculateAndDisplayRoute(directionsService, directionsDisplay);
                switch (error.code) {
                    case error.PERMISSION_DENIED:
                        console.log("User denied the request for Geolocation.");
                        break;
                    case error.POSITION_UNAVAILABLE:
                        console.log("Location information is unavailable.");
                        break;
                    case error.TIMEOUT:
                        console.log("The request to get user location timed out.");
                        break;
                    case error.UNKNOWN_ERROR:
                        console.log("An unknown error occurred.");
                        break;
                }
            }
    
            function showPosition(position) {
                console.log("Latitude: " + position.coords.latitude + " Longitude: " + position.coords.longitude);
                calculateAndDisplayRoute(directionsService, directionsDisplay, position);
            }
    
            getLocation();
        }
    
        function calculateAndDisplayRoute(directionsService, directionsDisplay, position) {
            //var originposition = "<%= origin %>";
            //if (position && false) {
                //originposition = position.coords.latitude + "," + position.coords.longitude;
                //originposition = new google.maps.LatLng(position.coords.latitude, position.coords.longitude);
            //}
            directionsService.route({
                //origin: document.getElementById('start').value,
                //destination: document.getElementById('end').value,
                origin: "<%= apiresponse.result.routes[0].legs[0].start_address %>",
                destination: "<%= apiresponse.result.routes[0].legs[0].end_address %>",
                travelMode: "<%= travelmode %>"
            }, function(response, status) {
                if (status === 'OK') {
                    directionsDisplay.setDirections(response);
                    //console.log("Client:");
                    //console.log(response);
                }
                else {
                    window.alert('Directions request failed due to ' + status);
                }
            });
        }
    </script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=<%= googlemapskey %>&callback=initMap">
    </script>

</div>


<!-- carpooling -->
<% if (typeof apiresponse != "undefined") { %>
	
	
	<div class="container">
		<div class="row">
			<form class="col-xs-6 form-horizontal vertical-spacing" method="get" action="carpool">
				<div class="row">
					<div class="col-xs-12">
						<input type="hidden" name="origin" value="<%= apiresponse.result.routes[0].legs[0].start_address %>" class="form-control">
						<input type="hidden" name="destination" value="<%= apiresponse.result.routes[0].legs[0].end_address %>" class="form-control">
						
						<input type="hidden" name="originlat" value="<%= apiresponse.result.routes[0].legs[0].start_location.lat %>" class="form-control">
						<input type="hidden" name="originlong" value="<%= apiresponse.result.routes[0].legs[0].start_location.lng %>" class="form-control">
						<input type="hidden" name="destinationlat" value="<%= apiresponse.result.routes[0].legs[0].end_location.lat %>" class="form-control">
						<input type="hidden" name="destinationlong" value="<%= apiresponse.result.routes[0].legs[0].end_location.lng %>" class="form-control">
						
						<button id="carpooling_view" class="col-xs-12 btn btn-primary btn-big" type="submit">Join a ride</button>
					</div>
				</div>
			</form>
			
			<form class="col-xs-6 form-horizontal vertical-spacing" method="post" action="carpool_new">
				<div class="row">
					<div class="col-xs-12">
						<input type="hidden" name="origin" value="<%= apiresponse.result.routes[0].legs[0].start_address %>" class="form-control">
						<input type="hidden" name="destination" value="<%= apiresponse.result.routes[0].legs[0].end_address %>" class="form-control">
						
						<input type="hidden" name="originlat" value="<%= apiresponse.result.routes[0].legs[0].start_location.lat %>" class="form-control">
						<input type="hidden" name="originlong" value="<%= apiresponse.result.routes[0].legs[0].start_location.lng %>" class="form-control">
						<input type="hidden" name="destinationlat" value="<%= apiresponse.result.routes[0].legs[0].end_location.lat %>" class="form-control">
						<input type="hidden" name="destinationlong" value="<%= apiresponse.result.routes[0].legs[0].end_location.lng %>" class="form-control">
						
						<button id="carpooling_publish" class="col-xs-12 btn btn-primary btn-big" type="submit">Offer a ride</button>
					</div>
				</div>
			</form>
		</div>
	</div>
<% } %>
