<!-- views/directions.ejs -->

<% layout('layout') -%>
    
<div style="display: none;">
    <span><%=  JSON.stringify(apiresponse)  %></span>
</div>

<% include /directionsinput %>

<hr>
 
<div class="container">   
    <div class="page-header text-center">
        <h1><span class="fa fa-anchor"></span> Select a trip to view</h1>
    </div>
    
    <div class="row">
        <form class="col-xs-6 form-horizontal vertical-spacing" method="post" action="carpool_join">
        <div  class="col-xs-6">
            <select id="tripslist" name="t" class="selectpicker form-control" title="Selected trip">
                <% if (apiresponse.status=="success") { var trips = apiresponse.result; %>
        			<% for(var k in trips){ var gpscoords = trips[k].origin.lat + "," + trips[k].origin.long + ";" + trips[k].destination.lat + "," + trips[k].destination.long; %>
        				<option <% if (k==0) { %>selected="selected"<% } %> value="<%= gpscoords %>"><%= "(" + trips[k].origin.name + ") -> (" + trips[k].destination.name + ") (" + gpscoords + " )" %></option>
        			<% } %>
        		<% } %>
		    </select>
        </div>
        <div  class="col-xs-6">
			<div class="row">
				<div class="col-xs-12">
	
					<button id="carpooling_join" class="col-xs-12 btn btn-primary btn-big" type="submit">Join this ride</button>
				</div>
			</div>
		</div>
    </div>

    
    <hr>
    
    <div class="row">
      <div  class="col-xs-12">
        <div id="map"></div>
      </div>
    </div>
    
    <script>
 
          function initMap() {
            var directionsService = new google.maps.DirectionsService;
            var directionsDisplay = new google.maps.DirectionsRenderer;
            var map = new google.maps.Map(document.getElementById('map'), {
                zoom: 3,
                center: {
                    lat: 61.9241,
                    lng: 25.7482
                }
            });
            directionsDisplay.setMap(map);
            
            //console.log();
            //var mapdata = ;
            //console.log("Server:");
            //console.log(mapdata.result);
            //var parsedresponse = JSON.parse('');
            //console.log(parsedresponse);
            //directionsDisplay.setDirections( mapdata.result );
    
            var onChangeHandler = function() {
                calculateAndDisplayRoute(directionsService, directionsDisplay);
            };
            document.getElementById('tripslist').addEventListener('change', onChangeHandler);
            //document.getElementById('end').addEventListener('change', onChangeHandler);
    
            calculateAndDisplayRoute(directionsService, directionsDisplay);
        }
    
        function calculateAndDisplayRoute(directionsService, directionsDisplay, position) {

            var tripvalue = document.getElementById('tripslist').value;
            if (tripvalue && tripvalue!="")
            {
                var tripdata = tripvalue.split(";");
                
                var origingps = tripdata[0];
                //new google.maps.LatLng(position.coords.latitude, position.coords.longitude);
                var destinationgps = tripdata[1];
                //new google.maps.LatLng(position.coords.latitude, position.coords.longitude);
                
                
                directionsService.route({
                    origin: origingps,
                    destination: destinationgps,
                    travelMode: "<%= travelmode || 'DRIVING' %>"
                }, function(response, status) {
                    if (status === 'OK') {
                        directionsDisplay.setDirections(response);
                        //console.log("Client:");
                        //console.log(response);
                    }
                    else {
                        window.alert('Directions request failed due to ' + status);
                    }
                });
            }
        }
    </script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=<%= googlemapskey %>&callback=initMap">
    </script>

</div>
